doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='Amp It Up')
  meta(name='keywords', content='Digital Marketing, Blog, Social Media, Online Advertising, Digital Marketing Agency, Jerusalem, Tel Aviv, Israel, Elisha Kramer')
  meta(name='author', content='Elisha Kramer')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-89533787-1', 'auto');
    ga('send', 'pageview');
  meta(name='google-site-verification', content='mXE5fXklRR6u_hpkMSsxaX43Uhs7eEN1g0MivpVumRA')
  title Amp It Up
  // Bootstrap Core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='style.css')
  // Custom Fonts
  link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet')
  // Theme CSS
  link(href='css/agency.css', rel='stylesheet')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
script.
  window.fbAsyncInit = function() {
  FB.init({
  appId      : '1886152074941466',
  xfbml      : true,
  version    : 'v2.8'
  });
  };
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

 // Navigation
nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu 
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='index.html') Amp It Up
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right.text-color
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#portfolioModal3', data-toggle='modal') Log In
        li
          a.page-scroll(href='#portfolioModal3', data-toggle='modal') Sign Up
    // /.navbar-collapse
  // /.container-fluid
